@charset "utf-8";

//=======================================================
//  LOAD BULMA VARIABLES & FUNCTIONS
//=======================================================
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

//=======================================================
//  LOAD CORE & THEME VARIABLES
//=======================================================
@import "core/utilities/variables";
@import "theme/utilities/variables";

//=======================================================
//  BULMA
//=======================================================
@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/all";
@import "~bulma/sass/elements/all";

//=======================================================
//  CORE
//=======================================================
@import "core/elements/content";

//=======================================================
//  THEME
//=======================================================
//@import "theme/elements/content";

//=======================================================
//  TEMPORARY CLASSES WHILE .content CAN'T BE ADDED TO WYSIWYG EDITOR
//=======================================================
html,
body {
    background-color: $white !important;
}

body#tinymce {
    padding: 10px;
    font-family: $family-primary;
    font-size: $body-size;
}

.text-center {
    text-align: center;
}

a {
    color: $primary;
    text-decoration: none;
    font-weight: $weight-bold;
}

p,
ul,
ol,
table {
    margin-bottom: 1.5rem;
}

ul,
ol {
    padding-left: $spacing-normal;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

blockquote p:last-child {
    margin-bottom: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.75em;
    font-weight: 600;
}

h1,
.is-size-1 {
    font-size: $size-1;
}

h2,
.is-size-2 {
    font-size: $size-2;
}

h3,
.is-size-3 {
    font-size: $size-3;
}

h4,
.is-size-4 {
    font-size: $size-4;
}

h5,
.is-size-5 {
    font-size: $size-5;
}

h6,
.is-size-6 {
    font-size: $size-6;
}

.is-size-7 {
    font-size: $size-7;
}

.is-size-8 {
    font-size: $size-8;
}

.is-size-9 {
    font-size: $size-9;
}

table {
    width: 100%;
}

.button {
    text-decoration: none !important;
}
